/* MIXIN FOR CUSTOM RANGE OF FLUID SIZES
 *  -- Menerima masukan batas bawah font size 'floor' dan batas atas font size 'ceiling', satuan rem!
 *  -- Mengeluarkan kode css yang membuat transisi antara floor dan ceiling 'fluid'     
 *
 *  -- TABLE OF CONTENT
 *  -- 1. Width
 *  -- 2. Padding
 *  -- 3. Margin
 *  -- 4. Font-Size
 *  -- 5. Letter-Spacing  
 *  -- 6. Responsive Border
 *  -- 7. Responsive Padding Inline Start
 */
/* -- 01. Mixin untuk fluid width -- */
/* -- 02. Mixin untuk fluid padding -- */
/* -- 03. Mixin untuk fluid margin -- */
/* -- 05. Mixin untuk fluid font size -- */
/* -- 06. Mixin untuk fluid letter spacing -- */
/* -- 07. Mixin untuk Responsive Border (Satu Sisi) -- */
/* -- 08. Mixin untuk Padding-Inline-Start -- */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700;900&display=swap");
html, body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  max-width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
}

a {
  color: inherit;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: inherit;
}

main {
  display: block;
  height: 100%;
}

article, aside, footer, header, nav, section {
  display: block;
}

.index-charts {
  background-color: #f4f4f4;
  min-height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 960px) {
  .index-charts {
    padding: 1rem;
  }
}

@media screen and (min-width: 960px) and (min-width: 320px) {
  .index-charts {
    padding: calc(1rem + 0.5 * ((100vw - 32rem) / (96 - 32)));
  }
}

@media screen and (min-width: 960px) and (min-width: 960px) {
  .index-charts {
    padding: 1.5rem;
  }
}

.index-charts .chart-container {
  background-color: #fcfcfc;
  border-radius: 5px;
  -webkit-box-shadow: 0px 4px 10px 5px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 4px 10px 5px rgba(0, 0, 0, 0.05);
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.index-charts .chart-container {
  padding-left: 0rem;
  padding-right: 0rem;
}

@media screen and (min-width: 320px) {
  .index-charts .chart-container {
    padding-left: calc(0rem + 3 * ((100vw - 32rem) / (96 - 32)));
    padding-right: calc(0rem + 3 * ((100vw - 32rem) / (96 - 32)));
  }
}

@media screen and (min-width: 960px) {
  .index-charts .chart-container {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

.index-charts .chart-container {
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
}

@media screen and (min-width: 320px) {
  .index-charts .chart-container {
    padding-bottom: calc(1.2rem + 0.8 * ((100vw - 32rem) / (96 - 32)));
    padding-top: calc(1.2rem + 0.8 * ((100vw - 32rem) / (96 - 32)));
  }
}

@media screen and (min-width: 960px) {
  .index-charts .chart-container {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}

@media screen and (max-width: 960px) {
  .index-charts .chart-container {
    width: 100%;
  }
}

.index-charts .chart-container .chart-title {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.index-charts .chart-container .chart-title h1 {
  color: #545454;
  font-size: 3.75vw;
  font-weight: 100;
}

@media screen and (max-width: 960px) {
  .index-charts .chart-container .chart-title h1 {
    font-size: 1.6rem;
  }
}

@media screen and (max-width: 960px) and (min-width: 320px) {
  .index-charts .chart-container .chart-title h1 {
    font-size: calc(1.6rem + 1.4 * ((100vw - 32rem) / (96 - 32)));
  }
}

@media screen and (max-width: 960px) and (min-width: 960px) {
  .index-charts .chart-container .chart-title h1 {
    font-size: 3rem;
  }
}

.index-charts .chart-container .chart-title p {
  color: #686868;
  font-size: 0.833vw;
  font-weight: 300;
}

@media screen and (max-width: 960px) {
  .index-charts .chart-container .chart-title p {
    font-size: 0.5rem;
  }
}

.index-charts .chart-container .chart-title p a {
  font-weight: 700;
}

.index-charts .chart-container .chart-title p a:hover {
  text-decoration: underline;
}

.index-charts .chart-container .chart-visuals {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 960px) {
  .index-charts .chart-container .chart-visuals {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.index-charts .chart-container .chart-visuals {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

@media screen and (min-width: 320px) {
  .index-charts .chart-container .chart-visuals {
    padding-bottom: calc(2rem + 1 * ((100vw - 32rem) / (96 - 32)));
    padding-top: calc(2rem + 1 * ((100vw - 32rem) / (96 - 32)));
  }
}

@media screen and (min-width: 960px) {
  .index-charts .chart-container .chart-visuals {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}

.index-charts .chart-container .chart-visuals .chart-visual {
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 100%;
  -webkit-box-shadow: 0px 3px 6px 4px rgba(0, 0, 0, 0.02);
          box-shadow: 0px 3px 6px 4px rgba(0, 0, 0, 0.02);
  border-radius: 5px;
  padding: 1rem;
}

@media screen and (max-width: 960px) {
  .index-charts .chart-container .chart-visuals .chart-visual {
    height: 18rem;
  }
}

@media screen and (max-width: 960px) and (min-width: 320px) {
  .index-charts .chart-container .chart-visuals .chart-visual {
    height: calc(18rem + 6 * ((100vw - 32rem) / (96 - 32)));
  }
}

@media screen and (max-width: 960px) and (min-width: 960px) {
  .index-charts .chart-container .chart-visuals .chart-visual {
    height: 24rem;
  }
}

.index-charts .chart-container .chart-visuals .chart-visual .highcharts-title {
  font-size: 1rem;
}

@media screen and (min-width: 320px) {
  .index-charts .chart-container .chart-visuals .chart-visual .highcharts-title {
    font-size: calc(1rem + 1 * ((100vw - 32rem) / (96 - 32)));
  }
}

@media screen and (min-width: 960px) {
  .index-charts .chart-container .chart-visuals .chart-visual .highcharts-title {
    font-size: 2rem;
  }
}

@media screen and (min-width: 960px) {
  .index-charts .chart-container .chart-visuals .chart-visual:not(:first-child) {
    margin-left: 4%;
  }
}

@media screen and (max-width: 960px) {
  .index-charts .chart-container .chart-visuals .chart-visual:not(:first-child) {
    margin-top: 4%;
  }
}
/*# sourceMappingURL=style.css.map */